#header_cart{
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    .set_logo{
        bottom: 0px;
        top: 10px;
        color: #1a9733;
        width: 500px;
        position: relative;
        a{
            cursor: pointer;
            img{
                width: 240px;
                height: 74px;
            }
        }
        span{
            margin-left: 20px;
            font-size: 23px;
        }
    }
}
.banner_cart{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
    .list_title{
        width: 1200px;
        height: 40px;
        display: block;
        margin: 0 auto;
        div{
            margin-top: 10px;
            width: 81px;
            height: 28px;
            font-size: 20px;
            color: #1A9733;
            float: left;
        }
    }
    .table_title{
        border-collapse: collapse;
        border-spacing: 0;
        width: 1200px;
        height: 40px;
        display: block;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-bottom: 2px solid #1A9733;
        td{
            font-size: 12px;
            color: #666666;
            text-align: left;
            line-height: 40px;
            .all_choice{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-left: 22px;
                margin-right: 5px;
            }

        }
    }
    .shopping_self{
        width: 1200px;
        display: block;
        margin: 0 auto;
        line-height: 60px;
        overflow: hidden;
        .title_position{
            position: relative;
            top: 10px;
            .all_choice_name{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-left: 22px;
                margin-right: 5px;
            }
            i{

            }
        }
        .title_info{
            width: 1200px;
            height: 44px;
            display: block;
            margin: 0 auto;
            background-color: #fff;
            font-size: 12px;
            line-height: 44px;
            border-bottom: 1px solid #eeeeee;
            .title_input{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-top: 15px;
                margin-left: 22px;
                margin-right: 5px;
                float: left;

            }
            p{
                width: 50px;
                height: 44px;
                color: #393939;
                font-weight: bold;
                float: left;
            }
            span{
                width: 200px;
                height: 20px;
                line-height: 20px;
                border-left: 1px solid #eeeeee;
                text-align: center;
                color: #393939;
                float: left;
                i{

                }
            }
        }
    }
}