@import 'public';
#header_cart{

    width: 1200px;
    height: 92px;
    margin: 0 auto;
    .set_logo{
        bottom: 0px;
        top: 10px;
        color: #1a9733;
        width: 500px;
        position: relative;
        height: 92px;
        a{
            cursor: pointer;
            img{
                width: 240px;
                height: 74px;
                float: left;
            }
        }
        span{
            margin-left: 20px;
            font-size: 23px;
            margin-top:45px;
            float: left;
        }
    }
}
.banner_cart{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
    .list_title{
        width: 1200px;
        height: 40px;
        display: block;
        margin: 0 auto;
        div{
            margin-top: 10px;
            width: 81px;
            height: 28px;
            font-size: 20px;
            color: #1A9733;
            float: left;
        }
    }
    .table_title{
        border-collapse: collapse;
        border-spacing: 0;
        width: 1200px;
        height: 40px;
        display: block;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-bottom: 2px solid #1A9733;
        td{
            font-size: 12px;
            color: #666666;
            text-align: left;
            line-height: 40px;
            .all_choice{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-left: 22px;
                margin-right: 5px;
            }

        }
    }
    .shopping_self{
        width: 1200px;
        display: block;
        margin: 0 auto;
        line-height: 60px;
        overflow: hidden;
        .title_position{
            position: relative;
            top: 10px;
            .all_choice_name{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-left: 22px;
                margin-right: 5px;
            }
            i{
                position: relative;
                top: 5px;
                width: 71px;
                height: 20px;
                display: inline-block;
                background: url(../img/cart/img/meixian_self.min.jpg);
                background-position: top center;
                background-repeat: no-repeat;
                margin-top: 10px;
            }
        }
        .title_info{
            width: 1200px;
            height: 44px;
            display: block;
            margin: 0 auto;
            background-color: #fff;
            font-size: 12px;
            line-height: 44px;
            border-bottom: 1px solid #eeeeee;
            .title_input{
                width: 12px;
                height: 12px;
                border: 1px solid #999999;
                margin-top: 15px;
                margin-left: 22px;
                margin-right: 5px;
                float: left;

            }
            p{
                width: 50px;
                height: 44px;
                color: #393939;
                font-weight: bold;
                float: left;
                margin-top: 0;
            }
            span{
                width: 200px;
                height: 20px;
                line-height: 20px;
                line-height:44px;
                border-left: 1px solid #eeeeee;
                text-align: center;
                color: #393939;
                margin-right: 20px;
                float: right;
                i{
                    font-size: 12px;
                }
            }
        }

// 插入购物车
.insert_buy_cart{
    width: 1200px;
    font-size: 12px;
    color: #333333;
    margin: 0 auto;
    .checkbox{
        width: 12px;
        height: 12px;
        border: 1px solid #999999;
        margin-left: 22px;
        margin-right: 5px;
        float: left;
    }
    .insert_cart_img{
        width: 98px;
        height: 140px;
        background: pink;
        float: left;
    }
}

















        .self_sum{
            width: 1200px;
            height: 60px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            border-top: 1px solid #eeeeee;
            background-color: #fff;
            line-height: 60px;
            padding-left: 50px;
            font-size: 12px;
            color: #333333;
            span{
                color: #cccccc;
                i{
                    color: #E4462C;
                }
                s{
                    color: #E4462C;
                }
            }
        }
        // 结算
        .self_play{
            border: 1px solid #eeeeee;
            background-color: #fff;
            width: 1200px;
            height: 58px;
            display: block;
            margin: 0 auto;
            border-right: none;
            line-height: 58px;
            margin-top: 20px;
            background-color: #fff;
            ul{
                width: 100%;
                height: 100%;
                display: block;
            
                font-size: 12px;
                color: #666666;
                .go_cath1{
                    width: 75px;
                    padding-left: 20px;
                    float: left;
                }
                .go_cath2{
                    height: 58px;
                     float: left;
                     width: 100px;
                     a{
                color: #666666;

                     }
                }
                .go_cath3{
                    width: 200px;
                    height: 58px;
                    float: left;
                    a{
                        color: #666666;
        
                    }
                }
                .go_cath6{
                    width: 102px;
                    height: 58px;
                    float: right;
                    input{
                        width: 100%;
                        height: 60px;
                        display: block;
                        background-color: rgb(26, 151, 51);
                        color: rgb(255, 255, 255);
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .go_cath5{
                    width: auto;
                    height: 58px;
                    float: right;
                    span{
                        color: #E4462C;
                        font-size: 18px; 
                    }
                    .sum_red_span{
                         margin-right: 10px;
                    }
                }
                .go_cath4{
                    width: auto;
                    height: 58px;
                    float: right;
                    .sum_red_span{
                      
                        color: #E4462C;
                         font-size: 18px;
                    }
                }
            }
        }
        // 继续购物
        .buy_again{
            margin: 0 auto;
            // overflow: hidden;
            width: 1200px;
          
          
            a{
                width: 124px;
                height: 17px;
                display: block;
                font-size: 12px;
                color: #0066CC;
                float: right;
                margin-top: 15px;
                margin-bottom: 45px;
            }
        }
        // 切换
        .tab_bottom{
            width: 1200px;
            margin: 0 auto;
            background: #fff;
            overflow: hidden;
            ul{
                width: 1200px;
                height: 50px;
                display: block;
                background-color: #fff;
                border: 1px solid #EEEEEE;
                border-bottom: 1px solid #1A9733;
                li{
                    width: 160px;
                    height: 50px;
                    display: inline-block;
                    float: left;
                    text-align: center;
                    font-family: SimHei, 黑体;
                    font-size: 16px;
                    color: rgb(51, 51, 51);
                    line-height: 50px;
                    .bottom_tab1{
                        display: block;
                        background-color: #1A9733;
                        color: #fff;
                    }
                    .bottom_tab2{
                        width: 100%;
                        display: block;

                        height: 100%;
                        display: block;
                        border-right: 1px solid #EEEEEE;
                        cursor: pointer;
                        
                    }
                }
            }
        }
        // 列表
            .tab_content_list{
                width: 1200px;
                height: 279px;
                background-color: #fff;
                border-top: none;
                overflow: hidden;
                .tab_left_button{
                    position: relative;
                    top: 155px;
                    left: 13px;
                    width: 14px;
                    height: 20px;
                    float: left;
                    display: block;
                }
                .tab_right_button{
                    position: relative;
                    top: 148px;
                    left: 1150px;
                    width: 14px;
                    height: 20px;
                    float: left;
                    display: block;
                }
                // 列表
                .good_focus_list{
                    width: 1155px;
                    overflow: hidden;
                    padding-left: 40px;
                    .ONE{

                        li{
                            width: 220px;
                            height: 279px;
                            float: left;
                            a{
                                img{
                                    width: 140px;
                                    height: 140px;
                                    display: block;
                                    margin: 0 auto;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                
                                }
                            }
                            p{
                                width: 144px;
                                height: 35px;
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 5px;
                                overflow: hidden;
                              
                                font-size: 12px;
                                color: #666666;
                                line-height: 18px;
                            }
                            span{
                                   width: 144px;                     
                                height: 26px;
                                display: block;
                                margin: 0 auto;
                                line-height: 26px;
                                font-size: 18px;
                                color: #E4462C;
                            }
                            a{
                                width: 88px;
                               
                                display: block;
                                margin-left: 35px;
                                margin-top: 5px;
                                background: #ccc;
                                
                                font-size: 12px;
                                color: #666666;
                                line-height: 24px;
                                text-align: center;
                            }
                        }
                    }
                }

                // good_look_list
                // .good_look_list{
                //     width: 1155px;
                //     overflow: hidden;
                //     padding-left: 40px;
                 

                // }


            }




        // Lie表

        .tab2_content_list{
            width: 1200px;
            height: 279px;
            background-color: #fff;
            border-top: none;
            overflow: hidden;
            .tab_left_button{
                position: relative;
                top: 155px;
                left: 13px;
                width: 14px;
                height: 20px;
                float: left;
                display: block;
            }
            .tab_right_button{
                position: relative;
                top: 148px;
                left: 1150px;
                width: 14px;
                height: 20px;
                float: left;
                display: block;
            }
            // 列表
            .good_focus_list{
                width: 1155px;
                overflow: hidden;
                padding-left: 40px;
                .ONE{

                    li{
                        width: 220px;
                        height: 279px;
                        float: left;
                        a{
                            img{
                                width: 140px;
                                height: 140px;
                                display: block;
                                margin: 0 auto;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            
                            }
                        }
                        p{
                            width: 144px;
                            height: 35px;
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 5px;
                            overflow: hidden;
                          
                            font-size: 12px;
                            color: #666666;
                            line-height: 18px;
                        }
                        span{
                               width: 144px;                     
                            height: 26px;
                            display: block;
                            margin: 0 auto;
                            line-height: 26px;
                            font-size: 18px;
                            color: #E4462C;
                        }
                        a{
                            width: 88px;
                           
                            display: block;
                            margin-left: 35px;
                            margin-top: 5px;
                            background: #ccc;
                            
                            font-size: 12px;
                            color: #666666;
                            line-height: 24px;
                            text-align: center;
                        }
                    }
                }
            }

            // good_look_list
            // .good_look_list{
            //     width: 1155px;
            //     overflow: hidden;
            //     padding-left: 40px;
             

            // }


        }

        // 列表
        }

    }
